.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 400px;
    background-color: gray;
}

.item {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 4px gray;
}

.block1 {
    background-color: red;
    width: 0;
    flex-grow: 1;
}

.block2 {
    background-color: green;
    width: 0;
    flex-grow: 2;
    align-self: flex-end;
}

.block3 {
    background-color: blue;
    width: 0;
    flex-grow: 3;
}

.block4 {
    background-color: yellow;
    width: 0;
    flex-grow: 4;
    align-self: flex-start;
}

.block5 {
    background-color: navy;
    width: 0;
    flex-grow: 5;
}

.block6 {
    background-color: purple;
    width: 0;
    height: auto;
    flex-grow: 6;
    align-self: stretch;
}